body{
  background-color:#EAF6F6;
}
hr{

  border-style: dotted none none;
  border-color: #DDDDDD;
  border-width: 5px;
  width: 3%;
}
h1
{
  color: #66BFBF
}
h3
{
  color: #66BFBF
}
h3:hover{

  background-color: #D1D1D1;
}
